.home{

    min-height:100vh;

    background:#f5f7fa;

    padding:60px;

}

.home-header{

    text-align:center;

    margin-bottom:60px;

}

.home-header h1{

    color:#0F4C81;

    font-size:42px;

    margin-bottom:15px;

}

.home-header p{

    color:#666;

    font-size:20px;

}

.cards{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:35px;

}

.card{

    background:white;

    border-radius:18px;

    padding:40px;

    text-align:center;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    transition:.35s;

    cursor: pointer;

}

.card:hover{

    transform:translateY(-10px);

    box-shadow: 0 15px 40px rgba(15, 76, 129, .15);

}

.icon{

   font-size:70px;

    color:#0F4C81;

    margin-bottom:25px;

    display:flex;

    justify-content:center;

    align-items:center;

}

.card h2{

    color:#0F4C81;

    font-size:24px;

    line-height:1.8;

    min-height:110px;

}

.card button{

    margin-top:30px;

    width:220px;

    height:52px;

    border:none;

    border-radius:10px;

    background:#0F4C81;

    color:white;

    font-size:17px;

    cursor:pointer;

}

.card button:hover{

    background:#0b3a63;

}

.card button:disabled{

    background:#b9b9b9;

    cursor:not-allowed;

}
.home{

    min-height:100vh;

    background:linear-gradient(180deg,#eef4fb,#ffffff);

    padding:40px;

}

.logos{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:70px;

    margin-bottom:30px;

}

.logos img{

    height:90px;

    object-fit:contain;

}

.home-header h1{

    color:#0F4C81;

    font-size:42px;

    font-weight:bold;

}

.home-header p{

    color:#666;

    margin-top:12px;

    font-size:20px;

}
.footer{

    text-align:center;

    margin-top:70px;

    color:#888;

    font-size:15px;

}