.admin-navbar{

    height:80px;

    background:white;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0 30px;

    box-shadow:0 2px 10px rgba(0,0,0,.08);

}

.navbar-right h2{

    color:#0F4C81;

    margin-bottom:4px;

    font-size:24px;

}

.navbar-right p{

    color:#777;

    font-size:14px;

}

.navbar-left{

    display:flex;

    align-items:center;

    gap:20px;

}

.date-box{

    background:#eef4fb;

    color:#0F4C81;

    padding:10px 16px;

    border-radius:10px;

    font-weight:600;

}

.admin-avatar{

    width:48px;

    height:48px;

    border-radius:50%;

    background:#0F4C81;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:22px;

}