.search-container{

    margin-bottom:25px;

}

.search-container input{

    width:100%;

    max-width:450px;

    height:48px;

    border:1px solid #dcdcdc;

    border-radius:10px;

    padding:0 18px;

    font-size:15px;

    outline:none;

    transition:.3s;

}

.search-container input:focus{

    border-color:#0F4C81;

    box-shadow:0 0 0 4px rgba(15,76,129,.12);

}